.example-spacer {
  flex: 1 1 auto;
}
/* mat-icon {
  color: white;
} */

.title {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

svg {
  fill: white;
  width: 1em;
  margin-right: 1rem;
}
input.form-control {
  border-color: #2c3e50;
}
textarea.form-control {
  border-color: #2c3e50;
}
.modal-body {
  background-color: white;
}
#staticBackdropLabel {
  color: #2c3e50;
  padding: 5;
}
